body{
    background-color: #e6e6e6;
}

.container {
    max-width: 400px;
    margin: 10vh auto 0 auto;
    box-shadow: 0px 0px 15px 10px rgb(219, 219, 219);
    border: 2px solid #00ceed;
    font-family: sans-serif;
    color: white;
    font-size: 30px;
}

#display {
    text-align: right;
    height: 70px;
    padding: 16px 8px;
    font-size: 25px;
    font-family: sans-serif;
    border: #323330;
    background-color: white;
    color:black;
}

.buttons {
    display: grid;
    border-bottom: 1px solid #999;
    border-left: 1px solid#999;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: #00ceed;
}

.buttons{
    border-top: 1px solid #999;
    border-right: 1px solid#999;
    
}

.button {
    border: 0.5px solid #ffffff;
    line-height: 100px;
    text-align: center;
}

#equal {
    background-color: rgb(85, 85, 255);
    color: white;
}

.button:hover {
    background-color: #323330;
    color: white;
}
